#app {
	height: 100%;
}
html,
body {
	margin: 0;
	background-color: #1b1c1d !important;
	color: #ffffff !important;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	position: relative;
	height: 100%;
}
body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.outer {
	height: 100vh;
	overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
	display: none;
}

.inner {
	height: 100vh;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.divider {
	width: 100%;
	height: 5px;
	background-color: #1b1c1d !important;
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

/* 메인 배경 */
.main-box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
}
video {
	width: 100%;
	object-fit: fill;
}
.main-text {
	padding-left: 50px;
	position: absolute;
	top: 50%;
	width: 100%;
}
.main-text p {
	font-family: -apple-system, Stylish-Regular, sans-serif !important;
	margin-top: -24px;
	text-align: left;
	font-size: 48px;
	color: #ffffff;
}

@font-face {
	font-family: 'Stylish-Regular';
	font-weight: 200;
	src: url('/fonts/Stylish-Regular.ttf') format('truetype');
}
